/node_modules
/lib
/apgmera
/golly
/bgolly
/temp.mjs
/*.txt
/*.log
/*.rle
/*.rule
/*.json
/*.md
/*.dot
/backup
/editor
/identify
/*.zip
/lifeweb.js
/lifeweb.js.map
/src/vls_to_compile.c
/vls_compiled
/*.csv
/gmon.out