
/node_modules
/lib

*.tsbuildinfo

/backup

/src/vls/params2.h
/vls_compiled

/*.txt
/*.log
/*.rle
/*.rule
/*.json
!/tsconfig.json
/*.md
/*.dot
/*.zip
/*.csv
/*.apg
/*.html
/*.svg
/.temp.js
/.temp.js.map
/temp.mjs
/lifeweb.js
/lifeweb.js.map
nohup.out
/basis

/editor
/identify
